.contenedor-botones {
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    gap: 1vh;
}

.contenedor-principal {
    display: grid;
    grid-template-rows: 10vh 50vh ;
    justify-content: center;
    gap: 1vh;
    margin-top: 15vh;
}

button {
    font-size: 6vh;
}

input{
    font-size: 7vh;
    width: 42vh;
}

